/*
 Theme Name:   UnderStrap Child
 Theme URI:    https://www.understrap.com
 Description:  UnderStrap Child Theme
 Author:       Holger Koenemann
 Author URI:   http://www.holgerkoenemann.de
 Template:     understrap
 Version:      0.3.5
 License: GNU General Public License v2 or later
 License URI: http://www.gnu.org/licenses/gpl-2.0.html
 Text Domain:  understrap-child
 Tags: one-column, custom-menu, featured-images, theme-options, translation-ready
 GitHub Theme URI: holger1411/understrap-child
*/
.front-page-posts-icon{
	background-color: #999999;
    background-image: url("images/promotedlinksicons.png");
    /*background-position: 0 -28px;*/
    background-position: 0 0;
    background-repeat: no-repeat;
    border-radius: 14px;
    content: " ";
    float: left;
    height: 28px;
    margin-bottom: 20px;
    margin-right: 10px;
    margin-top: 10px;
    width: 31px;
}