.front-page-posts-icon{
	background-color: #999999;
    background-image: url("../images/promotedlinksicons.png");
    /*background-position: 0 -28px;*/
    background-position: 0 0;
    background-repeat: no-repeat;
    border-radius: 14px;
    content: " ";
    float: left;
    height: 28px;
    margin-bottom: 20px;
    margin-right: 10px;
    margin-top: 10px;
    width: 31px;
}
.home .front-page-lastestnews article{
border-bottom: 1px solid #d6d6d6;
cursor: pointer;
padding:10px;
}
.home .front-page-lastestnews article:hover{
background-color:#ddd;
}

.home .front-page-lastestnews article .entry-title{
font-size: 18px;
color: black;
text-transform: uppercase;
font-weight: bold;
display: block;
}
.home .front-page-lastestnews article .entry-title a:hover{
text-decoration:none;
}
.blog article{
	border-bottom: 1px solid #d6d6d6;
	margin-left: 60px;
    margin-bottom: 30px;
    padding: 20px 0;
}
.blog article .entry-content{
	padding:0;
}
.blog article .byline{
	display:none;
}
.blog article .entry-title a{
    color: #9c2744;
}
.blog article .entry-title a:hover{
    color: #000;
	text-decoration:none;
}